<!-- About -->
<section id="about" class="wrapper alt style2">

    {% for page in site.pages %}
    {% if page.layout == 'default' %}{% continue %}{% endif %}

	<section class="spotlight">
		<div class="image">{% if page.image %}<img src="{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}" alt="" />{% else if page.image-home %}<img src="{{ "" | absolute_url }}/assets/images/{{ page.image-home }}" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endfor %}

</section>

