{% if page.pageimages %}
<section>
    <div class="box alt">
        <div class="row uniform 50%">
            {% for image in page.pageimages %}
            <div class="4u centre">
                <span class="image fit">
                    <a data-lightbox="{{ page.titleimage }}" data-title="{{ image.desc }}" href="/assets/images/blog/{{ image.name }}.jpg">
                        <picture>
                            <source srcset="/assets/images/blog/{{ image.name }}-thumb.webp" type="image/webp">
                            <img src="/assets/images/blog/{{ image.name }}-thumb.jpg" alt="{{ image.desc }}">
                        </picture>
                    </a>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
