<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="{{ site:url }}/{{ site.data.links.main.gpgkey }}" class="icon fa-key" target="_blank"><span class="label">GPG Key</span></a></li>
        <li><a href="mailto:{{ site.email }}" class="icon fa-envelope" ><span class="label">Email</span></a></li>
        <li><a href="{{ site.data.links.main.gitlab }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
        <li><a href="{{ site.data.links.main.github }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
        <li><a href="{{ site.data.links.main.linkedin }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</li>
    </ul>
</footer>

</div>

<!-- Scripts -->
<script>document.documentElement.classList.remove("no-js");</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/modernizr-webp.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
{% if page.image_row %}
<script async src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" crossorigin="anonymous"></script>
{% endif %}
