    <nav id="site-nav">
        <ul>
        {% assign pages = site.pages | sort:"weight"  %}
        {% for p in pages %}
            {% if p.title %}
                {% if p.url == page.url %}
                <li><a class="page-link viewing" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% else %}
                <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
