body
{ 
    background-image: url('/images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family-content;
    color: $colour-content;
    overflow-y: scroll;
}

a
{
	text-decoration: none;
	color: $colour-links;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	text-decoration: none;
}

#site-header
{
    position: fixed;
    width: 100%;
    top: 0px;
    left:0px;
    right:0px;
    height: 17%;
    background-color: $background-color-dark;
}

#site-nav
{
    position: fixed;
    width: 80%;
    right: 1%;
    top: 3%;
    text-align: right;
    font-size: $font-size-nav;
    font-family: $font-family-nav;    

    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

#site-nav a
{
    padding: 10px;
}

#site-nav a.viewing
{
    border-style: solid;
    border-width: 1px;
    color: $colour-nav;
    border-radius: 15px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 5px;
}

#site-nav a:hover
{
    border-style: solid;
    border-width: 1px;
    border-color: $colour-nav;
    border-radius: 15px;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 5px;
}

#site-nav ul
{
    list-style-type: none 
}

#site-nav li
{
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
}

#site-title
{
    position: fixed;
    max-width: 320px;
    left: 2%;
    top: 0%;

    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

#site-title.home
{
    max-width: 1200px;
    left: 19%;
    top: 1%;
    z-index: -1;
}

#site-title p
{
    position: relative;
    left: 0%;
    margin-top: -19%;
    font-size: 1.1em;
    color: $colour-title-tagline;
}

#site-title.home p
{
    left: 12%;
    margin-top: -19%;
    font-size: 1.7em;
    font-size: 1.4vw;
}

#site-title h1
{
    color: $colour-title;
    font-size: 3em;
    margin-top: 1%;
    font-family: 'Jaldi', sans-serif;
}

#site-title a
{
	color: $colour-title;
}

#site-title a:hover
{
    text-decoration: none;
    color: $colour-title;
}

#site-title.home h1
{
    font-size: 11em;
    margin-top: 10%;
    
    font-size: 9vw;
}

#site-content
{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: auto;
    min-width: 600px;
    z-index: -2;
    padding: 10px;
    background-color: $background-color-light;
    border-radius: 20px;
}

#site-content.home
{
    top: auto;
    left: 30%;
    right: 48%;
    bottom: 22%;
    padding-left: 1.5%;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#site-content .centered
{
    text-align: center;
}

#site-content .centered ul
{
    margin-left: 10px
}

#site-content p
{
    font-size: $font-size-content;
}

#site-content ul
{
    list-style-type: disc ;
}

#site-content.home p
{
    font-size: 1.7em;
}

#site-content img
{
    padding: 5px;
    padding-right: 10px;
}

#site-content .left
{
    float: left;
    padding-right: 10px;
}

#site-content .right
{
    overflow: auto;
}

#post-list ul
{
    list-style-type: none ;
}

.post-img
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
